/* all common css start */
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --primary-color: #383838;
    --secondary-color:#385F96;
    --white-color: #fff;
    --dark-color: #000;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.cmnBtn{
    display: inline-block;
    background: var(--secondary-color);
    padding: 14px 38.5px;
    border-radius: 30px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:var(--white-color);
    transition: all linear .3s;
}
.cmnBtn:hover{
    background: #9EE7EB;
    color:var(--secondary-color);
}
/* all common css end */

/* header */
header{
    margin-top: 50px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.005em;
}
nav{
    
}
nav ul{
    display: flex;
    align-items: center;
    gap:29px;

}
nav ul li{

}
nav ul li a{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.5%;
    /* or 27px */
    letter-spacing: 0.005em;
    transition: all linear .3s;
}
nav ul li a:hover{
    color:#9EE7EB;
}

/* about-- */
.about{
    padding: 190px 0 185px 0;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-wrapper > *{
    flex-basis: 100%;
}
.about-img{
    text-align: right;
}
.about-text{
    position: relative;
}
.absolute{
    position: absolute;
    left: -87px;
    top: -93px;
    width: 170px;
}
.about-text h1{
    max-width: 502px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.005em;
    color: #385F96;
}
.about-text p{
    width: 478px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #4E4E4E;
    padding: 30px 0;
}

/* service */
.service{
    padding-bottom: 200px;
}
.service-wrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.service-wrapper > *{
    flex-basis: 100%;
}
.service-text h1{
    max-width: 536px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 135.5%;
    /* or 49px */

    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    /* leading-trim: both;
    text-edge: cap; */
    letter-spacing: 0.005em;
    color: var(--secondary-color);
}
.service-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #4E4E4E;
    padding: 29px 0;
}

/* contact */
.contact{
    background-image: url(./images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 112px 0;
}
.contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-wrapper > *{
    flex-basis: 100%;
}
.contact-text h1{
    max-width: 465px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 135.5%;
    letter-spacing: 0.005em;
    color: #385F96;
    padding-bottom: 28px;
}
.contact-img{
    text-align: right;
}
/* footer */
footer{
    padding: 26px 0;
    background-color: var(--secondary-color);
    text-align: center;
}
footer h6{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
}