/* all common css start */
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --primary-color: #383838;
    --secondary-color:#385F96;
    --white-color: #fff;
    --dark-color: #000;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.cmnBtn{
    display: inline-block;
    background: var(--secondary-color);
    padding: 1.4rem 3.85rem;
    border-radius: 30px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    color:var(--white-color);
    transition: all linear .3s;
}
.cmnBtn:hover{
    background: #9EE7EB;
    color:var(--secondary-color);
}
/* all common css end */

/* header */
header{
    margin-top: 3rem;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
}
nav{
    
}
nav ul{
    display: flex;
    align-items: center;
    gap:2.9rem;

}
nav ul li{
    padding: 2rem 0;
}
nav ul li a{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 135.5%;
    letter-spacing: 0.005em;
    transition: all linear .3s;
}
nav ul li a:hover{
    color:#9EE7EB;
}

/* about-- */
.about{
    padding: 19rem 0 18.5rem 0;
}
.about-wrapper{
    display: flex;
    align-items: center;
}
.about-wrapper > *{
    flex-basis: 100%;
}
.about-img{
    text-align: right;
}
.about-text{
    position: relative;
}
.absolute{
    display: inline-block;
    position: absolute;
    left: -10%;
    top: -12%;
    max-width: 20%;
}
.absolute img{
    max-width: 100%;
}
.about-text h1{
    max-width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
    color: #385F96;
}
.about-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    color: #4E4E4E;
    padding: 3rem 0;
}

/* service */
.service{
    padding-bottom: 20rem;
}
.service-wrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.service-wrapper > *{
    flex-basis: 100%;
}
.service-text h1{
    max-width: 536px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 135.5%;
    /* or 49px */

    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    /* leading-trim: both;
    text-edge: cap; */
    letter-spacing: 0.005em;
    color: var(--secondary-color);
}
.service-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    color: #4E4E4E;
    padding: 29px 0;
}

/* contact */
.contact{
    background-image: url(./images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11.12rem 0;
}
.contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-wrapper > *{
    flex-basis: 100%;
}
.contact-text h1{
    max-width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 135.5%;
    letter-spacing: 0.005em;
    color: #385F96;
    padding-bottom: 2.8rem;
}
.contact-img{
    text-align: right;
}
/* footer */
footer{
    padding: 2.6rem 0;
    background-color: var(--secondary-color);
    text-align: center;
}
footer h6{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--white-color);
}
/* ===Responsive==================== */
@media (max-width: 1320x) {
}
@media (max-width: 1200px) {
    .container{
        padding: 0 2rem;
    }
    html{
        font-size: 60%;
    }
    .cmnBtn{
        padding: 1.2rem 2.8rem;
    }
}
@media (max-width: 992px) {
    .container{
        padding: 0 2rem;
    }
    html{
        font-size: 55%;
    }
    .cmnBtn{
        padding: 1rem 2.5rem;
    }
}
@media (max-width: 768px) {
    .cmnBtn{
        margin-bottom: 3rem;
    }
    .container{
        padding: 0 2rem;
    }
    html{
        font-size: 50%;
    }
    .cmnBtn{
        padding: 1rem 2.5rem;
    }
    /* headr------ */
    .header-wrapper{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        gap:0rem !important;
    }
    /* about------- */
    .about-wrapper{
        flex-direction: column;
    }
    .absolute{
        left: -10%;
        top: -15%;
    }
    /* service---- */
    .service-wrapper{
        flex-direction: column;
    }
    /* contact------ */
    .contact-wrapper{
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    .container{
        padding: 0 2rem;
    }
    html{
        font-size: 45%;
    }
    .cmnBtn{
        padding: .8rem 2.5rem;
    }
    /* headr------ */
    .header-wrapper{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        gap:0rem !important;
    }
    /* about------- */
    .about-wrapper{
        flex-direction: column;
    }
    .absolute{
        left: -10%;
        top: -15%;
    }
    /* service---- */
    .service-wrapper{
        flex-direction: column;
    }
    /* contact------ */
    .contact-wrapper{
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .container{
        padding: 0 2rem;
    }
    html{
        font-size: 40%;
    }
    .cmnBtn{
        padding: .6rem 2.5rem;
    }
    /* headr------ */
    .header-wrapper{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        gap:0rem !important;
    }
    /* about------- */
    .about-wrapper{
        flex-direction: column;
    }
    .absolute{
        left: -10%;
        top: -15%;
    }
    /* service---- */
    .service-wrapper{
        flex-direction: column;
    }
    /* contact------ */
    .contact-wrapper{
        flex-direction: column;
    }
}